<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor AWS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>

    <div class="sidebar">
        <h2>AWS Monitor</h2>
        <a href="{{ url_for('home') }}">🏠 Dashboard</a>
        <a href="{{ url_for('login') }}">🔐 Iniciar sesión</a>
    </div>

    <div class="main-content">

        <div class="dashboard-card">

            <div class="header">
                <h1>Dashboard de Monitoreo</h1>
                <p>Estado actual de los servicios monitoreados</p>
            </div>

            <div class="container-fluid mb-4">
                <form action="/agregar" method="POST" class="row g-3 align-items-center">
                    <div class="col-8 col-md-9">
                        <input type="text" name="url_sitio" class="form-control"
                            placeholder="Ingresa URL (ej: google.com)" required>
                    </div>
                    <div class="col-4 col-md-3">
                        <button type="submit" class="btn btn-primary w-100">
                            + Agregar Sitio
                        </button>
                    </div>
                </form>
            </div>

            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Estado</th>
                        <th>Última Revisión</th>
                    </tr>
                </thead>

                <tbody>
                    {% for sitio in sitios %}
                    <tr>
                        <td>{{ sitio.url }}</td>

                        <td>
                            <span class="badge 
                                {% if sitio.estado == 'Online' %} bg-success 
                                {% elif sitio.estado == 'Offline' %} bg-danger 
                                {% else %} bg-warning text-dark {% endif %}">
                                {{ sitio.estado }}
                            </span>
                        </td>

                        <td>{{ sitio.ultima_revision }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>